html {
    scroll-behavior: smooth;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {

height: 100vh;
font-family: "Poppins", sans-serif;
align-items: center;

}

/* Typography */


p {
    line-height: 1.6;
    font-size:1.4rem;
    font-weight: 300;
    
}

#home p {
    color:rgb(93, 94, 118);
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

h1,p {
    margin-bottom: 20px;
}

#logo {
    color:rgb(97, 184, 255);
}

/* Nav*/

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:80px 80px 20px 80px;
    font-size:1.35rem;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul i{
    color:rgb(249, 233, 2);
}

li {
margin-right: 20px;
list-style: none;
color:rgb(93, 94, 118);
font-weight: 300;
}


a {
    text-decoration: none;
    color:inherit;
}

/* Main*/


.content{
    margin:60px;
    width:60%;
}

section {
   height:700px;
    display:inline-block;}

/* Home*/

button {
padding:20px 30px 20px 30px;
background-color:rgb(97, 184, 255);
color:white;
border: none;
border-radius: 30px;
letter-spacing: 1.1px;
font-size:1rem;
}

#home {
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* About*/

#about {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color:rgb(97, 184, 255);
    color:white;
}

/* Scroll Button*/

#scroll {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 50%; 
    background-color: white;
    color:rgb(97, 184, 255);
    font-size: 20px;

}


#scroll_1{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 50%; 
    color: white;
    background-color:rgb(97, 184, 255);
    font-size: 20px;

}
